/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; /* Couleur de fond pastel */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333; /* Couleur de texte principale */
}

#cityName {
    font-size: 24px; /* Taille de police pour le nom de la ville */
    margin-bottom: 10px;
}

#weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time-element {
    margin: 10px;
    padding: 10px;
    background-color: #fff; /* Fond des éléments météo */
    border-radius: 8px;
    text-align: center;
}

/* Ajout de styles pour les icônes météo */
.wi {
    font-size: 36px; /* Taille des icônes météo */
    margin-bottom: 5px;
}

.wi.day {
    color: #ffd700; /* Couleur pour le jour */
}

.wi.night {
    color: #4682b4; /* Couleur pour la nuit */
}
